.clear-btn {
    display: flex;
    height: 80px;
    font-size: 1.6em;
    color: #fff;
    font-weight: bold;
    background: #a1024c;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
}

.clear-btn:hover {
    background: #ebb000;
}