.App, .freecodecamp-logo-container, .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  font-family: Lato, sans-serif;
  background: #04061c;
  width: 700px;
  height: 100vh;
  padding-top: 10px;
  flex-wrap: wrap;
  margin: auto;
}

.freecodecamp-logo-container {
  height: 300px;
  margin: 8px;
}

.freecodecamp-logo {
  height: 100%;
}

.calculator-container {
  width: 450px;
  height: 600px;
  margin-top: -150px;
  padding: 15px;
  background: #99c9ff;
  border: 2px solid #fff;
  border-radius: 20px;
}

.row {
  margin: 4px;
}

@media (min-width: 320px) and (max-width: 618px) {
  .App {
    width: 100%;
    padding: 0;
  }

  .freecodecamp-logo-container {
    height: 0;
  }

  .freecodecamp-logo {
    width: 100%;
    height: auto;
  }

  .calculator-container {
    width: 80%;
    margin-top: -70px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .freecodecamp-logo {
    width: 100%;
    height: auto;
  }

  .calculator-container {
    margin-top: -90px;
  }
}